<configuration>
    <log4net>
        <appender name="Machine" type="log4net.Appender.RollingFileAppender">
            <file value=".\FileLog\MachineLog\PorlaFileInfomation.xml"/>
            <lockingModel type="log4net.Appender.RollingFileAppender+MinimalLock"/>
            <layout type="log4net.Layout.PatternLayout">
                <appendToFile value="true"/>
                <rollingStyle value="Size"/>
                <maxSizeRollBackups value="10000"/>
                <maximumFileSize value="2MB"/>
                <staticLogFileName value="true"/>
                <conversionPattern value="[%date] [%level] [%logger] - %message%newline%exception"/>
            </layout>
        </appender>
        <root>
            <level value="ALL"/>
            <appender-ref ref="Machine"/>
        </root>
    </log4net>
</configuration>